.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.slider {
  width: 85%;
  height: 40px;
  align-self: center;
  z-index: 1;
  margin: 0;
  padding: 0;
}

.flexContentOption {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3px;
}

.contentOption {
  width: 100px;
  text-align: center;
}

.contentSeparator {
  width: 85%;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 20.5%;
  left: auto;
  right: auto;
  z-index: 0;
}

.separator {
  height: 18px;
  width: 5px;
  background-color: #575757;
}

.separator:last-child,
.separator:first-child {
  width: 18px;
  border-radius: 50%;
}

input[type="range"] {
  /*removes default webkit styles*/
  -webkit-appearance: none;
  /*required for proper track sizing in FF*/
  background: transparent;
  border: 0;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 200px;
  height: 5px;
  background-color: #565656;
  border: none;
  border-radius: 3px;
  outline: none !important;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #3a42ff;
  margin-top: -5px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-moz-range-track {
  width: 200px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
input[type="range"]::-moz-range-thumb {
  border: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #3a42ff;
  /* background: url("../assets/images/devis/curseur.png"); */
}

/*hide the outline behind the border*/
input[type="range"]:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px;
}

input[type="range"]::-ms-track {
  width: 200px;
  height: 5px;

  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;

  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;

  /*remove default tick marks*/
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #373737;
  border-radius: 10px;
}
input[type="range"]::-ms-fill-upper {
  background: #575757;
  border-radius: 10px;
}
input[type="range"]::-ms-thumb {
  border: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #3a42ff;
  /* background: url("../assets/images/devis/curseur.png"); */
}
input[type="range"]:focus::-ms-fill-lower {
  background: #373737;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #575757;
}

@media screen and (max-width: 500px) {
  .textOption {
    font-size: 12px;
  }
}
