.footer {
  width: 100vw;
  height: 55px;
  background: #252559;
  position: relative;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 35px;
}

.footer > p {
  color: white;
}

.img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.img,
.img:hover {
  cursor: pointer;
}

.link:last-child > .img {
  margin-right: 0px;
}

@media screen and (max-width: 415px) {
  .footer {
    flex-direction: column;
    height: 90px;
    justify-content: center;
  }

  .footer > p {
    margin-top: 10px;
  }
}
